S3_BUCKET =
BUCKET_NAME_RAW =
AWS_ACCESS_KEY = 
AWS_SECRET_KEY = 

GOOGLE_SHEETS_CREDENTIALS =
SHEET_ID_KEYWORDS =
SHEET_ID_INVESTORS = 

LLM_SERVICE=OpenAI

OPENAI_API_KEY = 

SLACK_WEBHOOK_URL_TESTING =
SLACK_WEBHOOK_URL_DISCOVERY =

# Argilla
ARGILLA_API_KEY = 
ARGILLA_API_URL = 